.login-page {
    background: url('../../assets/form.svg') no-repeat center center;
    background-size: cover; /* Sesuaikan ukuran sesuai kebutuhan */
  }
  
  .login-form-container {
    background: rgba(255, 255, 255, 0.9); /* Warna latar belakang putih dengan transparansi */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .width-for-min-and-max {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      grid-template-columns: 1fr;
      left: 0;
      top: 0;
      padding-left: 0;
      margin-left: 0;
    }
    
    .the-button {
      font-size: 10px;
    }

    .text {
      font-size: 10px;
    }

    .table {
      display: flex;
      flex-direction: column;
    }
  }